<%- include('partials/header') %>
<h1>RiskIt or BiscIt Game Start</h1>

  <form>
  <h2>What case do you choose? (1-26)</h2>
  <%- include('partials/cases') %> 
  </form>

<%- include('partials/footer') %>